@media screen and (max-width: 900px) {
    .idm-lp .content {
        width: auto;
    }

    .idm-lp .left-pane {
        width: 50%;
    }

    .idm-lp .right-pane {
        width: 50%;
        top: -120px;
    }

    .idm-lp .btn-box {
        display: block;
        margin-left: 0;
    }

    .idm-lp a.btn-cfa {
        display: block;
        margin: 10px;
    }
}

@media screen and (max-width: 500px) {
    .idm-lp .bg-top {
        height: 70px;
    }

    .idm-lp .content {
        width: auto;
    }

    .idm-lp .left-pane {
        width: auto;
        float: none;
    }

    .idm-lp .right-pane {
        width: auto;
        float: none;
        position: static;
        top: 0px;
    }

    .idm-lp .titles {
        padding: 20px 5px;
        background-color: rgb(7, 103, 255);
    }


    .idm-lp .main-title {
        font-size: 18px;
    }

    .idm-lp .secondary-title {
        font-size: 1em;
    }

    .idm-lp .player-container {
        width: auto;
        margin-top: 0px;
    }

    .idm-lp .hide-mobile {
        display: none;
    }

    .idm-lp .show-mobile {
        display: block;
    }

    .idm-lp .main-text {
        margin-top: 30px;
    }

    .idm-lp .footer {
        margin: 40px 0 10px 0;
    }

    .idm-lp .play-button {
        bottom: auto;
        top: 35%;
        left: 40%;
    }

    .idm-lp .buttons-container {
        margin-top: 20px;
    }

    .idm-lp .logo-mobile {
        text-align: center;
        margin-bottom: 8px;
    }
}